@keyframes underlineAnimation {
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes zoomTitle {
    to {
        font-size: 1vw;
    }
}

/* Aplicar estilos al enlace */
nav a {
    position: relative;
    text-decoration: none;
    color: black; /* Cambia el color del texto según tus preferencias */
    transition: color 0.3s ease; /* Añade una transición para el cambio de color */
}

/* Agregar línea subrayada inicial */
nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black; /* Cambia el color del subrayado según tus preferencias */
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}

/* Agregar animación al subrayado en el hover */
nav a:hover::before {
    animation: underlineAnimation 0.3s forwards;
    transition: width 0.3s ease, opacity 0.3s ease, font-size 0.3s ease; /* Añade la transición para el cambio de tamaño del texto */
}

/* Ajusta el color del texto al pasar el ratón */
nav a:hover {
    color: red; /* Cambia el color del texto al pasar el ratón */
    animation: zoomTitle 0.3s forwards; /* Aplica la animación de cambio de tamaño */
}





.imageCover1:hover,
.imageCover2:hover,
.imageCover3:hover,
.imageCover4:hover {
    filter: grayscale(0%);
    --_s: 0px
}

.imageCover1,
.imageCover2,
.imageCover3,
.imageCover4 {
    filter: grayscale(70%);
    --color: black; /* the color of the border */
    --border: 1vh;   /* the thickness of the border */
    --offset: 1.2vw;   /* control the movement of the border */
    --gap: 0.1vh;       /* the gap on hover */
    
    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background:
      radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
      radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: .4s;
}




.carousel {
  width: 300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.carousel img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border: 1px solid #ccc;
}

@keyframes rotate {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}




.form {
    background-color: red;
    border-radius: 20px;
    box-sizing: border-box;
    height: 80vh;
    padding: 2vh;
    width: 20vw;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 2vh;
  }
  
  .title {
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 1.5vh;
  }
  
  .subtitle {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #fff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: red;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: black;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: white;
  }
  
  .input:focus ~ .placeholder {
    color: white;
  }
  
  .submit {
    background-color: black;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 3vh;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: white;
    color: black;
  }
  

  @keyframes moviendrew {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateX(20px);
    }
  }
  
  .flecha {
    color: black;
    animation-name: moviendrew;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;	
    font-size: 20vw;
    text-align: center;
    margin: auto;
  }

  @keyframes movieInter {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }
  
  .interrogation {
    color: black;
    animation-name: movieInter;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;	
    font-size: 20vw;
    text-align: center;
    margin: auto;
  }

  

  
  
  .slider {
    position: relative;
    width: 80vw;
    height: 35vw;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow: hidden;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
  
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212121;
    transition: background-color 0.2s linear;
  }
  
  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: gray;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: gray;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: gray;
  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
  
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
  .slide-content {
    width: 30vw;
    height: 50vh;
    margin: 0vh;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 3vw;
  }
  
  .slide-text {
    margin-bottom: 20px;
    font-size: 2vw;
  }
  
  .slide-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    background-color: gray;
    font-size: 1vw;
  }
  
  .slide-image img {
    width: 42vw;
    height: 55vh;
    object-fit: cover;
    margin-top: 6vh;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }
  
  




  
  

  