@font-face {
    font-family: 'Celtica';
    src: url(/static/font/Celtica-Book.ttf);
}

@font-face {
    font-family: 'Donuts';
    src: url(/static/font/Chocolate\ Donuts.otf);
}

@font-face {
    font-family: 'Main';
    src: url(/static/font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Marco';
    src: url(/static/font/Marcovaldo-Regular-trial.ttf);
}



nav{
    background-color: white;
    color: black;
    
 
}
nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    
    
}

nav a{
    font-size: 2.5vh;
    text-decoration:none;
    color: black;

}

body{
    font-family: 'Main';
    display: grid;
    background-color: lightblue;
    

  }

  footer {
    font-family: 'Main';
    font-size: 2vh;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    background-color: white;
    color: black;
    bottom: 0;
   
}

.Welcome{
   font-family: 'Celtica';
   font-size: 2vw;
   text-align: center;
   background-color: gray;
   border: 1vh solid black;
   margin-top: 5vh;
   border-radius: 50%;
   margin-right: 40vw;
   margin-left: 40vw;
   padding: 1vw;
}

.separadorIndex{

    
    font-family:'Main';
    font-size: 3vh;
    text-align: center;
    background-color: white;
    padding: 0.5vw;
    margin-top: 5vw;
    

}

.Menhir{

    font-family: 'Celtica';
    font-size: 2vw;
    text-align: center;
    background-color: gray;
    border: 1vh solid black;
    margin-top: 5vh;
    border-radius: 50%;
    margin-right: 40vw;
    margin-left: 40vw;
    padding: 4vw;

}
.Menhir p{
    
    font-family: 'Main';
}