@font-face {
    font-family: 'Celtica';
    src: url(/static/font/Celtica-Book.ttf);
}

@font-face {
    font-family: 'Donuts';
    src: url(/static/font/Chocolate\ Donuts.otf);
}

@font-face {
    font-family: 'Main';
    src: url(/static/font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Marco';
    src: url(/static/font/Marcovaldo-Regular-trial.ttf);
}



nav{
    background-color: white;
    color: black;
    text-align: center;
    
 
}
nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    text-align: center;
    justify-content: center;
    gap: 5vw;
    
    
}

nav a{
    font-size: 0.75vw;
    text-decoration:none;
    color: black;

}

body{
    color: #666;
    font-family: 'Main';
    display: grid;
    

  }


.dockerCover{
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: 2 auto;
}

.dockerCoverT1{
    font-size:10vh;
    position: absolute;
    top: 40%;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.dockerCoverT2{
    font-size: 5vh;
    position: absolute;
    top: 55%;
    left: 50vw;
    transform: translate(-50%, -50%);
    
}

.indexCover{
    width: 100vw;
    height: 100%;
}

.textCover{
    font-size: 1.8vh;
    display: grid;
    text-align: left;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 5vh;
    line-height: 3.5vh;
}

.textCover p::first-letter{
    font-size: 5vh;
}


.imagesCover {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 5fr)); /* Ajusta el tamaño mínimo y máximo según sea necesario */
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.imageCover1 , .imageCover2 , .imageCover3 , .imageCover4{
    position: relative;
    text-align: center;
}

.imagesCover H1{
    font-size: 2vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.imagesCover img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit: cover;
}



.sloganBannerDocker{
    position: relative;
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: 1 auto;
    text-align: center;
    margin-top: 15vh;
}
.sloganBannerDocker img{
    text-align: center;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}

.sloganBannerDocker h3{
    font-size: 1.5vw;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.ubication{
    margin-top: 15vh;
    text-align: center;
    font-size: 2vh;
}

.ubicationHomeFrame{
    border: none;
    width: 100vw;
    height: 20vh;
}
