<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    <title>Actividades</title>
</head>
<body>
    {% extends "layout.html" %}

{% block title %}Noruega{% endblock %}

{% block content %}

<div class="dockerCover">
    <h2 class="dockerCoverT1">Actividades</h2>
    <img class="cabeceraImagen" src="/static/img/coverActividades.jpg" alt="Cabecera Gastronomia">
  </div>
{% endblock %}

</body>
</html>