<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    <title>Cultura</title>
</head>
<body>
    {% extends "layout.html" %}

{% block title %}Noruega{% endblock %}

{% block content %}
<div class="dockerCover">
    <h2 class="dockerCoverT1">Cultura</h2>
    <img class="cabeceraImagen" src="/static/img/covercultura.jpg" alt="Cabecera Cultura">
  </div>
  <div class="slider">
    <input type="radio" name="toggle" id="btn-1" checked>
    <input type="radio" name="toggle" id="btn-2">
    <input type="radio" name="toggle" id="btn-3">
  
    <div class="slider-controls">
      <label for="btn-1"></label>
      <label for="btn-2"></label>
      <label for="btn-3"></label>
    </div>
  
    <ul class="slides">
      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Viking Ship Museum - Oslo</h2>
          <p class="slide-text">Ubicado en la península de Bygdøy en Oslo, este museo alberga barcos vikingos increíblemente bien conservados, así como objetos y artefactos de la era vikinga.</p>
          <a href="#" class="slide-link">Saber más</a>
        </div>
        <p class="slide-image">
          <img src="/static/img/barcos.jpg" alt="stuff" width="320" height="240">
        </p>
      </li>
      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Munch-museet - Oslo</h2>
          <p class="slide-text">Este museo está dedicado al famoso pintor noruego Edvard Munch, conocido por su obra maestra "El Grito". El museo alberga la mayor parte de la obra de Munch.</p>
          <a href="#" class="slide-link">Saber más</a>
        </div>
        <p class="slide-image">
          <img src="/static/img/museo.jpg" alt="stuff" width="320" height="240">
        </p>
      </li>
      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Nationaltheatret - Oslo</h2>
          <p class="slide-text">El Teatro Nacional es una institución cultural clave en Noruega. Ofrece una amplia gama de producciones teatrales, desde clásicos hasta obras contemporáneas.</p>
          <a href="#" class="slide-link">Saber más</a>
        </div>
        <p class="slide-image">
          <img src="/static/img/teatro.jpg" alt="stuff" width="320" height="240">
        </p>
      </li>
    </ul>
  </div>

  <div class="containerActividades">
    <h3>Panorama Musical</h3>
    <div class="experienciaL">
        <div>
            <h3>Kaleo</h3>
            <p>Originaria de Mosfellsbær, Islandia, la banda Kaleo ha dejado una marca distintiva en la escena musical noruega. Con su fusión única de rock, blues y folk, Kaleo ha alcanzado renombre internacional. Sus cautivadoras letras y el distintivo sonido de la voz del vocalista Jökull Júlíusson aportan una energía apasionante a la escena musical nórdica.</p>
    </div>
        <img src="/static/img/kaleo.jpg" alt="cosas">
    </div>
    
    <div class="experienciaR">
        <img src="/static/img/auroraasknes.jpg" alt="cosas">

        <div>
            <h3>Aurora Asknes</h3>
            <p>Nacida en Stavanger, la talentosa cantante y compositora AURORA ha ganado reconocimiento por su música etérea y sus letras introspectivas. Su voz única y estilo artístico distintivo han cautivado a audiencias de todo el mundo. AURORA es una destacada representante de la nueva generación de artistas noruegos que ha dejado una huella significativa en la música pop alternativa.</p>
        </div>
    </div>
    <div class="experienciaL">
        <div>
        <h3>A-ha</h3>
        <p>Conocida por su icónico éxito "Take on Me", la banda A-ha es una de las bandas pop más exitosas de Noruega. Originaria de Oslo, A-ha ha tenido una carrera duradera y sigue siendo un símbolo de la música pop de los años 80. Su habilidad para fusionar melodías pegajosas con la distintiva voz de Morten Harket les ha ganado fans en todo el mundo, consolidando su lugar en la historia musical noruega.</p>
    </div>
        <img src="/static/img/a-ha.jpg" alt="cosas">
    </div>
    </div>

    <div class="containerActividades">
        <h3>Folclore Vikingo</h3>
        <div class="experienciaL">
            <div>
                <p>Los vikingos, conocidos por su destreza en la navegación y exploración, también dejaron un legado mitológico que abarca desde la creación del mundo hasta el apocalipsis, el Ragnarök. Este folclore no solo ha influido en la literatura, sino también en la cultura popular contemporánea, perpetuando la fascinación por la épica vikinga en todo el mundo.</p>
        </div>
            <img src="/static/img/vikinga.jpg" alt="cosas">
        </div>

{% endblock %}

</body>
</html>