<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/animations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <title>Gastronomia</title>
</head>
<body>
    {% extends "layout.html" %}

{% block title %}Noruega{% endblock %}

{% block content %}
<div class="dockerCover">
  <h2 class="dockerCoverT1">Gastronomía</h2>
  <img class="cabeceraImagen" src="/static/img/covergastronomia.jpg" alt="Cabecera Gastronomia">
</div>

<div class="slider">
    <input type="radio" name="toggle" id="btn-1" checked>
    <input type="radio" name="toggle" id="btn-2">
    <input type="radio" name="toggle" id="btn-3">
  
    <div class="slider-controls">
      <label for="btn-1"></label>
      <label for="btn-2"></label>
      <label for="btn-3"></label>
    </div>
  
    <ul class="slides">
      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Rakfisk</h2>
          <p class="slide-text">Se trata de pescado fermentado, generalmente trucha o salmón, que se deja curar durante varios meses. Aunque su aroma fuerte puede resultar desafiante para algunos, es un plato tradicional consumido con pan, papas y crema agria.</p>
          <a href="#" class="slide-link">Saber más</a>
        </div>
        <p class="slide-image">
          <img src="/static/img/Gastronomia/gastro7.jpg" alt="stuff" width="320" height="240">
        </p>
      </li>
      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Lutefisk</h2>
          <p class="slide-text">Este plato consiste en bacalao seco que ha sido tratado con una solución de lejía (lutefisk) para rehidratarlo. El resultado es un plato gelatinoso y delicado que se sirve con salsas, guarniciones y patatas.</p>
          <a href="#" class="slide-link">Saber más</a>
        </div>
        <p class="slide-image">
          <img src="/static/img/Gastronomia/gastro5.jpg" alt="stuff" width="320" height="240">
        </p>
      </li>
      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Koldtbord</h2>
          <p class="slide-text">Aunque no es un plato en sí mismo, el "koldtbord" merece ser mencionado. Es una especie de banquete noruego estilo buffet que presenta una variedad de platos fríos, como pescado ahumado, carne en conserva, quesos, ensaladas y panes. </p>
          <a href="#" class="slide-link">Saber más</a>
        </div>
        <p class="slide-image">
          <img src="/static/img/Gastronomia/gastro3.jpg" alt="stuff" width="320" height="240">
        </p>
      </li>
    </ul>
  </div>


  <div class="containerActividades">
    <h3>Destinos gastronómicos</h3>
    
    <div class="experienciaR">
        <img src="/static/img/bergen.jpg" alt="cosas">

        <div>
            <h3>Bergen</h3>
            <p>Bergen, la "Puerta de entrada a los Fiordos", es conocida por su variada oferta culinaria. Los restaurantes en esta ciudad costera se especializan en pescados y mariscos frescos provenientes de los fiordos circundantes. Los platos como el "rakfisk" (pescado fermentado) y el salmón noruego son imperdibles. Disfruta de la comida mientras contemplas las impresionantes vistas de los fiordos.</p>
        </div>
    </div>

    <div class="experienciaL">
        <div>
        <h3>Oslo</h3>
        <p>La capital noruega, Oslo, alberga una escena gastronómica vibrante y diversa. Desde restaurantes con estrellas Michelin hasta acogedores cafés, Oslo ofrece opciones para todos los gustos.La ciudad se enorgullece de sus chefs creativos que combinan tradiciones noruegas con enfoques modernos.</p>
    </div>
        <img src="/static/img/oslo.jpeg" alt="cosas">
    </div>

    <div class="experienciaR">
      <img src="/static/img/stavanger.jpg" alt="cosas">

      <div>
          <h3>Stavanger</h3>
          <p>Stavanger, ubicada en la costa suroeste, es reconocida por su destacada oferta de pescados y mariscos. Con numerosos restaurantes a lo largo del puerto, los visitantes pueden disfrutar de platillos frescos como el bacalao y el cangrejo real. </p>
      </div>
  </div>

</div>



  <div class="containerReservas">
    <h3>Mejores restaurantes</h3>
    <iframe src="https://www.tripadvisor.es/Restaurants-g190455-Norway.html" frameborder="0"></iframe>
  </div>
{% endblock %}

</body>
</html>