<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    <title>Idioma</title>
</head>
<body>
    {% extends "layout.html" %}

{% block title %}Noruega{% endblock %}

{% block content %}

<div class="dockerCover">
  <h2 class="dockerCoverT1">Idioma</h2>
  <img class="cabeceraImagen" src="/static/img/coveridioma.jpg" alt="Cabecera Idioma">
</div>
  </div> 

  <div class="containerActividades">
    <h3>El Idioma noruego</h3>
    
    <div class="experienciaR">
        <img src="/static/img/ruinas.jpeg" alt="cosas">

        <div>
            <h3>Origen</h3>
            <p>El noruego, o "norsk", es la lengua oficial de Noruega y comparte similitudes con otras lenguas escandinavas, como el danés y el sueco. Su historia se remonta a la época de los vikingos, y a lo largo de los siglos, ha experimentado diversas influencias, desde el nórdico antiguo hasta las influencias del alemán, francés e inglés</p>
        </div>
    </div>

    <div class="experienciaL">
        <div>
        <h3>Dialectos</h3>
        <p>El noruego moderno se divide en dos formas principales: el "bokmål" y el "nynorsk". El primero es más común y se utiliza en áreas urbanas y en la mayoría de los medios de comunicación, mientras que el segundo busca preservar las raíces culturales y regionales, siendo utilizado en áreas más rurales.</p>
    </div>
        <img src="/static/img/noruegos.jpg" alt="cosas">
    </div>

    <div class="experienciaR">
      <img src="/static/img/aprender.png" alt="cosas">

      <div>
          <h3>Aprender Noruego</h3>
          <p>Aprender algunas frases básicas en noruego puede mejorar significativamente la experiencia de los visitantes en Noruega. La gente local apreciará los esfuerzos por comunicarse en su idioma, aunque muchos noruegos hablan inglés con fluidez.En las zonas turísticas, la comunicación no suele ser un problema, pero en áreas más remotas, especialmente en el norte del país, el noruego puede ser de gran utilidad.</p>
      </div>
  </div>

  <div class="containerIdioma">
    <h3>Como suena el Noruego</h3>
    <iframe src="https://www.youtube.com/embed/Kn8aWiuwHFY" title="APRENDE NORUEGO CON RUBIUS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

{% endblock %}

</body>
</html>