<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/styles.css">

    {% extends "layout.html" %}

    {% block title %}Título de la Página Específico{% endblock %}
    
    {% block content %}
    
  <div class="dockerCover"> 

    <h1 class="dockerCoverT1">
        Vive Noruega
    </h1>

    <h1 class="dockerCoverT2">
        Proyecto Norway
    </h1>
    <video 
    class="indexCover" autoplay loop src="/static/img/video (720p).mp4">
</video>
</div>

<div class="textCover">
    <p>
        Descubre la majestuosidad de Noruega con Proyecto Norway. Sumérgete en paisajes impresionantes, desde fiordos imponentes hasta auroras boreales mágicas. Ofrecemos experiencias únicas y personalizadas para explorar este tesoro nórdico. ¡Aventúrate con nosotros y crea recuerdos inolvidables en cada rincón noruego!

    </p>
</div>

<div class="imagesCover">
    
    <div class="imageCover1">
    <a href="{{ url_for('actividades') }}">
        <img class="imagesCover1" src="/static/img/imagecover1.jpg" alt="imagecover1">
    </a>

    <h1>Actividades</h1>

</div>
    
    <div class="imageCover2">
    <a href="{{ url_for('cultura') }}">
        <img class="imagesCover1" src="/static/img/imagecover2.jpg" alt="imagecover2">
    </a>

    <a href="{{ url_for('gastronomia') }}">
        <img class="imagesCover1" src="/static/img/imagecover3.jpg" alt="imagecover3">
    </a>

   
    <a href="{{ url_for('idioma') }}">
        <img class="imagesCover1" src="/static/img/imagecover4.jpeg" alt="imagecover4">
    </a>
</div>
       
    {% endblock %}
</html>1