<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/styles.css">

    {% extends "layout.html" %}

    {% block title %}Título de la Página Específico{% endblock %}
    
    {% block content %}
    
  <div class="dockerCover"> 

    <h1 class="dockerCoverT1">
        Vive Noruega
    </h1>

    <h1 class="dockerCoverT2">
        Proyecto Norway
    </h1>
    <video 
    class="indexCover" autoplay loop src="/static/img/video (720p).mp4">
</video>
</div>

<div class="textCover">
    <p>
        Descubre la majestuosidad de Noruega con Proyecto Norway. Sumérgete en paisajes impresionantes, desde fiordos imponentes hasta auroras boreales mágicas. Ofrecemos experiencias únicas y personalizadas para explorar este tesoro nórdico. ¡Aventúrate con nosotros y crea recuerdos inolvidables en cada rincón noruego!

    </p>
</div>

<div class="imagesCover">
    
    <div class="imageCover1">
    <a href="{{ url_for('actividades') }}">
        <img class="imagesCover1" src="/static/img/imagecover1.jpg" alt="imagecover1">
    

    <h1>Actividades</h1>
</a>
</div>
    
    <div class="imageCover2">
    <a href="{{ url_for('cultura') }}">
        <img class="imagesCover1" src="/static/img/imagecover2.jpg" alt="imagecover2">
    
    <h1>Cultura</h1>
</a>
    </div>

    <div class="imageCover3">
    <a href="{{ url_for('gastronomia') }}">
        <img class="imagesCover1" src="/static/img/imagecover3.jpg" alt="imagecover3">
    
    <h1>Gastronomía</h1>
</a>
    </div>

    <div class="imageCover4">
    <a href="{{ url_for('idioma') }}">
        <img class="imagesCover1" src="/static/img/imagecover4.jpeg" alt="imagecover4">
    
    <h1>Idioma</h1>
</a>
    </div>

</div>

<div class="sloganBannerDocker">
    <img src="/static/img/sloganbanner.jpg" alt="aurora">

    <h3>
        "Descubre la magia de Noruega con nosotros: experiencias únicas, destinos inolvidables. Tu viaje, nuestra pasión. Explora, sueña, vive con Proyect Norway."
</h3>
</div>

<div class="ubication">
    <h3>¿Donde encontrarnos?</h3>
    <iframe class="ubicationHomeFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.0581379643681!2d10.44456517861645!3d63.438847976858575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466d31012d095189%3A0xc18f9cc5609003e7!2sThrond%20Nergaards%20veg%2C%207044%20Trondheim%2C%20Noruega!5e0!3m2!1ses!2ses!4v1701957989380!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
       
    {% endblock %}
</html>1