<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/animations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><img class="flag" src="/static/img/flag.png" alt="bandera"></li>
            <li><a href="{{ url_for('index') }}" {% if current_page == 'index' %}class="active-page"{% endif %}>Inicio</a></li>
            <li><a href="{{ url_for('actividades') }}" {% if current_page == 'actividades' %}class="active-page"{% endif %}>Actividades</a></li>
            <li><a href="{{ url_for('gastronomia') }}" {% if current_page == 'gastronomia' %}class="active-page"{% endif %}>Gastronomía</a></li>
            <li><a href="{{ url_for('cultura') }}" {% if current_page == 'cultura' %}class="active-page"{% endif %}>Cultura</a></li>
            <li><a href="{{ url_for('idioma') }}" {% if current_page == 'idioma' %}class="active-page"{% endif %}>Idioma</a></li>
            <li><a href="{{ url_for('contacto') }}" {% if current_page == 'contacto' %}class="active-page"{% endif %}>Contacto</a></li>
        </ul>
    </nav>

    <!-- Contenido de la Página -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Pie de Página -->
    <footer>
        <div class="contacto">
            <p>Email: contacto@proyectonorway.nw</p>
        </div>
        
        <div class="redes-sociales">
            <a href="" target="_blank">Facebook</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
    </footer>
    
</body>
</html>